/* PasswordGenerator.css */

body {
  background: #fbf3ff;
  font-family: Arial, sans-serif;
}

.password-generator-container {
  position: absolute;
  max-width: 800px;
  height: 500px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  padding: 10px 30px 8px 30px;
}

.header {
  color: blueviolet;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.password-display {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.password-display input {
  width: 230px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  margin-right: 10px;
}

.password-display input:focus {
  outline: none;
}

.password-display button {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.password-display button:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}

.password-display button:focus {
  outline: none;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.styled-checkbox {
  appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #bb36fd;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
  margin-right: 10px;
}

.styled-checkbox::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.styled-checkbox:checked::before {
  background: blueviolet;
}

.styled-checkbox:checked::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background: blueviolet; /* Water drop effect */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generate-button {
  background: linear-gradient(45deg, #bb36fd, #9b00e8);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px;
  margin-top: 30px;
  box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.generate-button:hover {
  background: linear-gradient(45deg, #c85bff, #b726ff);
}

.generate-button:focus {
  outline: none;
}

#pass-range{
  width: 200px;
}
.attempts {
  color: #333;
  font-size: 14px;
  margin-top: 10px;
}

.attempts-limit {
  color: red;
  font-size: 14px;
}

@media (max-width: 480px) {
  .password-generator-container {
    width: 90%;
    padding: 15px;
  }

  .password-display input {
    width: 70%;
  }

  .password-display button {
    padding: 5px 10px;
  }
}

/* For Model Box  */

.modal {
  display: block; /* Ensure it is set to display when isOpen is true */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000; /* Ensure it appears on top of other content */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* Center the modal vertically and horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  float: right;
  cursor: pointer;
}
